<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список врачей &ndash; Ветеринарная клиник</title>
</head>
<body>
<a data-th-href="@{/clinic/vets/create}">+ Добавить информацию о враче</a>
<h1>Список врачей</h1>
<form method="get" data-th-action="@{/clinic/vets/list}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Специальность</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="vet, iterstat : ${vets}">
        <td>
            <a data-th-href="@{/clinic/vets/{vetId}(vetId=${vet.id})}"
               data-th-text="${iterstat.count}"></a>
        </td>
        <td>
            <a data-th-text="${vet.firstName}"></a>
        </td>
        <td>
            <a data-th-text="${vet.lastName}"></a>
        </td>
        <td>
            <a data-th-text="${vet.speciality.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>