<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый регистратор &ndash; Ветеринарная клиника</title>
</head>
<body>
<a data-th-href="@{/clinic/receptionists/list}">&larr; К списку регистраторов</a>
<h1>Новый регистратор</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/receptionists/create}">
    <label>
        Имя:<br>
        <input type="text" name="firstName" data-th-value="${payload?.firstName}">
    </label><br>
    <label>
        Фамилия:<br>
        <input type="text" name="lastName" data-th-value="${payload?.lastName}">
    </label><br>
    <br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>