<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации об исследовании &ndash; [[${checkup.id}]]</title>
</head>
<body>
<a data-th-href="@{/clinic/checkups/{checkupId}(checkupId=${checkup.id})}">&larr; К исследованию</a>
<h1>Редактирование информации об исследовании &ndash; [[${checkup.id}]]</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/checkups/{checkupId}/edit(checkupId=${checkup.id})}">
    <table>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label>
                    <input type="date" name="date" data-th-value="${payload != null ? payload.date : checkup.date}">
                </label>
            </td>
            <td>
                <label>
                    <input type="time" name="time" min="09:00" max="18:00"
                           data-th-value="${payload != null ? payload.time : checkup.time}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Питомец:<br>
    </label>
    <table>
        <tbody>
        <tr data-th-each="pet : ${pets}">
            <td>
                <label>
                    <input type="radio" name="petId" data-th-text="${pet.name}"
                           data-th-value="${pet.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Врач:<br>
    </label>
    <table>
        <tbody>
        <tr data-th-each="vet : ${vets}">
            <td>
                <label>
                    <input type="radio" name="vetId" data-th-text="${vet.fullName}"
                           data-th-value="${vet.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Тип исследования:<br>
    </label>
    <table>
        <tbody>
        <tr data-th-each="checkupType : ${checkupTypes}">
            <td>
                <label>
                    <input type="radio" name="checkupTypeId" data-th-text="${checkupType.type}"
                           data-th-value="${checkupType.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Статус:<br>
    </label>
    <table>
        <tbody>
        <tr data-th-each="checkupState : ${checkupStates}">
            <td>
                <label>
                    <input type="radio" name="checkupStateId" data-th-text="${checkupState.state}"
                           data-th-value="${checkupState.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Результаты:<br>
    </label>
    <table>
        <tbody>
        <tr data-th-each="checkupResult : ${checkupResults}">
            <td>
                <label>
                    <input type="radio" name="checkupResultId" data-th-text="${checkupResult.description}"
                           data-th-value="${checkupResult.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Изменить</button>
</form>
</body>
</html>
