<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование диагноза  &ndash; [[${diagnosis.id}]]</title>
</head>
<body>
<a data-th-href="@{/clinic/diagnoses/{diagnosisId}(diagnosisId=${diagnosis.id})}">&larr; К информации о диагнозе</a>
<h1>Редактирование информации о диагнозе &ndash; [[${diagnosis.id}]]</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/diagnoses/{diagnosisId}/edit(diagnosisId=${diagnosis.id})}">
    <label>
        Заболевание:<br>
    </label><br>
    <table>
        <tbody>
        <tr data-th-each="disease: ${diseases}">
            <td>
                <label>
                    <input type="radio" name="diseaseId" data-th-value="${disease.id}" data-th-text="${disease.code}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Пояснения:<br>
        <input type="text" name="description"
               data-th-value="  ${payload != null ? payload.description : diagnosis.description}">
    </label><br><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>