<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая специальность &ndash; Ветеринарная клиника</title>
</head>
<body>
<a data-th-href="@{/clinic/specialities/list}">&larr; К списку специальностей</a>
<h1>Новая специальность</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/specialities/create}">
    <label>
        Имя:<br>
        <input type="text" name="name" data-th-value="${payload?.name}">
    </label><br>
    <br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>