<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый гендер &ndash; Ветеринарная клиника</title>
</head>
<body>
<a data-th-href="@{/clinic/clients/list}">&larr; К списку гендеров</a>
<h1>Новый гендер</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/genders/create}">
    <label>
        Название:<br>
        <input type="text" name="gender" data-th-value="${payload?.gender}">
    </label><br>
    <br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>