<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации о питомце &ndash; [[${pet.name}]]</title>
</head>
<body>
<a data-th-href="@{/clinic/pets/{petId}(petId=${pet.id})}">&larr; К профилю питомца</a>
<h1>Редактирование информации о питомце &ndash; [[${pet.name}]]</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/pets/{petId}/edit(petId=${pet.id})}">
    <label>
        Имя:<br>
        <input type="text" name="name" data-th-value="${payload != null ? payload.name : pet.name}">
    </label><br>
    <label>
        Владелец:<br>
    </label><br>
    <table>
        <tbody>
        <tr data-th-each="client : ${clients}">
            <td>
                <a data-th-text="_"></a>
            </td>
            <td>
                <label>
                    <input type="radio" name="clientId" data-th-text="${client.fullName}"
                           data-th-value="${client.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Вид:<br>
    </label><br>
    <table>
        <tbody>
        <tr data-th-each="type : ${types}">
            <td>
                <a data-th-text="_"></a>
            </td>
            <td>
                <label>
                    <input type="radio" name="typeId" data-th-text="${type.name}"
                           data-th-value="${type.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Порода:<br>
    </label><br>
    <table>
        <tbody>
        <tr data-th-each="breed : ${breeds}">
            <td>
                <a data-th-text="_"></a>
            </td>
            <td>
                <label>
                    <input type="radio" name="breedId" data-th-text="${breed.name}"
                           data-th-value="${breed.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        Пол:<br>
    </label><br>
    <table>
        <tbody>
        <tr data-th-each="gender : ${genders}">
            <td>
                <a data-th-text="_"></a>
            </td>
            <td>
                <label>
                    <input type="radio" name="genderId" data-th-text="${gender.gender}"
                           data-th-value="${gender.id}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <label>
        День рождения:<br>
        <input type="date" name="birthday" data-th-value="${payload != null ? payload.birthday : pet.birthday}">
    </label><br>
    <label>
        Клеймо:<br>
        <table>
            <tbody>
            <tr data-th-each="label : ${labels}">
                <td>
                    <a data-th-text="_"></a>
                </td>
                <td>
                    <label>
                        <input type="radio" name="labelId" data-th-text="${label.value}"
                               data-th-value="${label.id}">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>