<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список питомцев &ndash; Ветеринарная клиник</title>
</head>
<body>
<a data-th-href="@{/clinic/pets/create}">+ Добавить питомца</a>
<h1>Список питомцев</h1>
<form method="get" data-th-action="@{/clinic/pets/list}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Владелец</th>
        <th>Вид</th>
        <th>Порода</th>
        <th>Пол</th>
        <th>День рождения</th>
        <th>Клеймо</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="pet, iterstat : ${pet}">
        <td>
            <a data-th-href="@{/clinic/pets/{petId}(petId=${pet.id})}"
               data-th-text="${iterstat.count}"></a>
        </td>
        <td>
            <a data-th-text="${pet.name}"></a>
        </td>
        <td>
            <a data-th-text="${pet.client.fullname}"></a>
        </td>
        <td>
            <a data-th-text="${pet.type.name}"></a>
        </td>
        <td>
            <a data-th-text="${pet.breed.name}"></a>
        </td>
        <td>
            <a data-th-text="${pet.gender.gender}"></a>
        </td>
        <td>
            <a data-th-text="${pet.birthday}"></a>
        </td>
        <td>
            <a data-th-text="${pet.label.value}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>