<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов &ndash; Ветеринарная клиник</title>
</head>
<body>
<a data-th-href="@{/clinic/clients/create}">+ Добавить клиента</a>
<h1>Список клиентов</h1>
<form method="get" data-th-action="@{/clinic/clients/list}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Номер телефона</th>
        <th>Электронная почта</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="client : ${clients}">
<!--        <td> data-th-text="${client.id}"></td>-->
        <td>
            <a data-th-href="@{/clinic/clients/{clientId}(clientId=${client.id})}"
               data-th-text="${client.id}"></a>
        </td>
        <td>
            <a data-th-text="${client.firstName}"></a>
        </td>
        <td>
            <a data-th-text="${client.lastName}"></a>
        </td>
        <td>
            <a data-th-text="${client.phoneNumber}"></a>
        </td>
        <td>
            <a data-th-text="${client.email}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>