<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${pet.name}]] &ndash; Ветеринарная клиника </title>
</head>
<body>
<a data-th-href="@{/clinic/pets/list}">&larr; К списку питомцев</a>
<h1 data-th-text="${pet.name}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${pet.id}"></span></li>
    <li><strong>Имя</strong>: <span data-th-text="${pet.name}"></span></li>
    <li><strong>Владелец</strong>: <span data-th-text="${pet.client.fullName}"></span></li>
    <li><strong>Вид</strong>: <span data-th-text="${pet.type.name}"></span></li>
    <li><strong>Порода</strong>: <span data-th-text="${pet.breed.name}"></span></li>
    <li><strong>Пол</strong>: <span data-th-text="${pet.gender.gender}"></span></li>
    <li><strong>День рождения</strong>: <span data-th-text="${pet.birthday}"></span></li>
    <li><strong>Клеймо</strong>: <span data-th-text="${pet.label.value}"></span></li>
</ul>
<a data-th-href="@{/clinic/pets/{petId}/edit(petId=${pet.id})}">Изменить</a>
<form method="post" data-th-action="@{/clinic/pets/{petId}/delete(petId=${pet.id})}">
    <button type="submit">Удалить</button>
</form>
</body>
</html>