<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации о клиенте &laquo;[[${client.fullName}]]&raquo; &ndash;</title>
</head>
<body>
<a data-th-href="@{/clinic/clients/{clientId}(clientId=${client.id})}">&larr; К клиенту</a>
<h1>Редактирование информации о клиенте &laquo;[[${client.fullName}]]</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/clinic/clients/{clientId}/edit(clientId=${client.id})}">
    <label>
        Имя:<br>
        <input type="text" name="firstName" data-th-value="${payload != null ? payload.firstName : client.firstName}">
    </label><br>
    <label>
        Фамилия:<br>
        <input type="text" name="lastName" data-th-value="${payload != null ? payload.lastName : client.lastName}">
    </label><br>
    <label>
        Номер телефона:<br>
        <input type="text" name="phoneNumber" data-th-value="${payload != null ? payload.phoneNumber : client.phoneNumber}">
    </label><br>
    <label>
        Электронная почта:<br>
        <input type="text" name="email" data-th-value="${payload != null ? payload.email : client.email}">
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>